@media only screen and (min-width:577px)
{
.sadrzaj{
	display: grid;
	grid-template-areas: 'header header header header header' 
	'sidebar_left content content content sidebar_right'
	'sidebar_left content content content sidebar_right'
	'sidebar_left content content content sidebar_right'
	'sidebar_left content content content sidebar_right'
	'sidebar_left content content content sidebar_right'
	'footer footer footer footer footer';
	grid-gap: 10px;
	background-color: #2196F3;
	padding: 10px;
	min-height: 100vh;
	height:fit-content;
	min-width: 100vw;
}

.sadrzaj > div{
	background-color: rgba(255,255,255,0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 20px;
}

.header{
	grid-area:header;
	height: fit-content;
}

.sidebar_left{
	grid-area: siderbar_left;
	display: grid;
}

.sidebar_left{
	grid-area: sidebar_left;
}

.sidebar_right{
display: grid;
grid-area: sidebar_right;
}

.content{
	grid-area:content;
}

.footer{
	grid-area:footer;
}

.footer{

background-color:#2196F3;
padding: 10px;
display: grid;
	grid-template-columns:50px 50px 50px 50px;
	justify-content: space-around;
	grid-gap: 20px;
	background-color: #2196F3;
	padding: 10px;
	justify-items: stretch;	

}

.footer a{
	border-color: blue;
	border-style: solid;
	background-color: green;
	width: 10%;
	padding: 1px;
	border-radius: 10px;
	color: white;
	justify-self: stretch;

}

.footer > div{
	background-color: blue;
}

ul{
list-style-type: none;
}

p{
	align-self: center;
}

.content{
	
	display:grid;
}

.content p{
	align-content: center;
}

span{
	margin-left: 20%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 60px;
	font-weight: bold;
}

} /*Kraj min-width:576px*/

@media only screen and (max-width:576px){
.sadrzaj{
	display: grid;
	grid-template-areas: 'header header header header header' 
	'sidebar_right sidebar_right sidebar_right sidebar_right sidebar_right'
	'content content content content content'
	'content content content content content'
	'sidebar_left sidebar_left sidebar_left sidebar_left sidebar_left'
	'footer footer footer footer footer';
	grid-gap: 10px;
	background-color: #2196F3;
	padding: 10px;
	align-items: stretch;
	min-height: 100vh;
	min-width: 100vw;
	height: max-content;
}

.sadrzaj > div{
	background-color: rgba(255,255,255,0.8);
	text-align: center;
	padding: 20px 0;
	font-size: 20px;
}

.header{
	grid-area:header;
	height: fit-content;
}

.sidebar_left{
	grid-area: siderbar_left;
}

.sidebar_right{

display: grid;
grid-area: sidebar_right;
align-self: center;
}

.content{
	grid-area:content;
}

.footer{
	grid-area:footer;
}

.footer{

display:grid;
background-color:#2196F3;
padding: 10px;

}

.footer a{
	border-color: blue;
	border-style: solid;
	background-color: green;
	width: 10%;
	padding: 1px;
	border-radius: 10px;
	color: white;
	justify-self: stretch;
}

.footer > div{
	background-color: blue;
}

ul{
list-style-type: none;
}


} /*Kraj za max-width:576px*/